/* texto hero image */
.hero_titulo {
	font-size: 4.5rem;
}
.hero_desc {
	font-size: 2rem;
}
.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
}
.bgimage{
	height: 100vh;
	background: url('img/heroImage.jpeg');
	background-size: cover;
	position: relative;
}

.glass {
	height: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(4.9px);
	-webkit-backdrop-filter: blur(4.9px);
}

/* imagem sobre */

.imagemSobre {
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

ul {
    list-style: none;
}

/* menu */
.navbar {
	background-color: #233237;
}
.navbar a {
	color: white;
}
.navbar a:hover {
	color: #729EAD;
	background-color: none;
}

#sobre, #habilidades, #portfolio, #contato {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

/* Habilidades */

.servicesText.card{
	height: 280px;
	cursor: pointer;
}

.bgimage2 {
	height: 100vh;
	background: url('img/habilidades.jpeg');
	background-size: cover;
	position: relative;
}

.neomorphism {
	background: rgba( 247, 247, 247, 0.85 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 0px );
	-webkit-backdrop-filter: blur( 0px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.card-title {
	text-align: center;
}

/* Habilidades -> Icones */
.servicesIcongit {
	font-size: 36px;
	text-align: center;
	width: 100%;
	color: #333333; 
}
.card:hover .servicesIcongit{
	color: #000000;
}

.servicesIconhtml {
	font-size: 36px;
	text-align: center;
	width: 100%;
}
.card:hover .servicesIconhtml{
	color: #E54D26;
}

.servicesIconcss {
	font-size: 36px;
	text-align: center;
	width: 100%;
}
.card:hover .servicesIconcss{
	color: #264DE4;
}

.servicesIconjs {
	font-size: 36px;
	text-align: center;
	width: 100%;
}
.card:hover .servicesIconjs {
	color: #E5A228;
}

.servicesIconbootstrap {
	font-size: 36px;
	text-align: center;
	width: 100%;
}
.card:hover .servicesIconbootstrap {
	color: #8511FB;
}

.card:hover {
	border: 1px solid #597B87;	
}

.servicesText:hover {
	border: 1px solid #597B87;
}

/* Botões*/

button {
	border: none;
	color: #fff;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(35,50,55,1) 35%, rgba(167,167,167,1) 100%);
	background-size: 100% auto;
	font-size: 17px;
	padding: 0.6em 1.5em;
	transition: 0.7s;
}

button:hover {
	background-position: right center;
 	background-size: 200% auto;
 	-webkit-animation: pulse 2s infinite;
 	animation: pulse512 1.5s infinite;
}

.text-center button {
	border-radius: 20px;
}

form button {
	border-radius: 20px;
}

@keyframes pulse512 {
	0% {
		box-shadow: 0 0 0 0 #23323766;
	}

	70% {
	 box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
	}

	100% {
	 box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
	}
}



/* Formulário */

form label {
	display: block;
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
	color: white;
}

form input, form textarea {
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1rem;
	margin-bottom: 1rem;
	padding: 0.5rem;
	width: 100%;
}

form textarea {
	height: 10rem;
}

footer .btn {
    font-size: 150%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
footer .btn:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.btn {
    transition: 0.5s;
    background-size: 200% auto;
    border: 0;
    color: #ffffff;
}

.btn:hover {
    background-position: right center;
    color: #ffffff;
    border: 0;
}

#whatsapp {
    color: #128C7E;
    border-color: transparent;
}

a:hover#whatsapp {
    color: #25D366;
}

#linkedin {
    color: #0b5e86;
    border-color: transparent;
}
a:hover#linkedin {
    color: #0b5e86;
}
#github {
    color: #333333;
    border-color: transparent;
}
a:hover#github {
    color: #000000;
}

#habilidades, #contato {
	color: white;
}

.servicesIcon:hover.git {
	background-color: black;
}