body {
    font-family: cursive;
    text-align: center;
    background-color: chocolate;
    width: 85%;
    margin: auto;
}
p {
    text-align: justify;
    text-indent: 50px;
}

.tituloL {
    background-color: burlywood;
    color: black;
}

h1 {
    background-color:burlywood;
    margin: 30px;
    border-radius: 20px;      
}

h3 {
    background-color: black;
    color: chocolate;
}

ol {
    list-style-position: inside;
}

section {
    background-color: peru;
    margin: 30px;
    padding: 30px;
    border-radius: 50px;
}

table {
    width: 100%;
}

tr {
    background-color: burlywood;
}

th, td {
    border-style: solid;
    /*border-color: black;
    text-align: center;*/
    padding: 8px;
    border-radius: 10px;
}

.fontCenter {
    text-align: center;
}

img {
    width:200px;
    /*display: block;
    margin: auto;*/
    border-radius: 20px;
}

span {
    color: white;
}

a:link{
    color: black;
}

a:visited{
    color: white;
}

a:hover {
    color:  black;
}

a:active {
    color: burlywood;
}